.messages-container {
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fafafa;
  color: #262626;
  height: '100vh';
}
.messages-content {
  display: flex;
  background-color: white;
  max-width: 935px;
  width: 100%;
}
.messages-list {
  width: 350px;
  border: 1px solid rgb(219, 219, 219);
}
.messages-room {
  border: 1px solid rgb(219, 219, 219);
  flex: 1;
  padding: 24px;
}
.messages-header {
  display: flex;
  padding: 0px 20px;
  height: 59px;

  border-bottom: 1px solid rgb(219, 219, 219);
}
.messages-header-left {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  span:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
  }
  span:nth-child(2) {
    margin-top: 10px;
  }
}
.messages-header-right {
  display: flex;
  flex: 0;
  align-items: center;
}
.messages-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4px 0px;
  padding: 0px 20px;

  font-size: 16px;
  span:nth-child(1) {
    font-weight: bold;
  }
  span:nth-child(2) {
    color: #0095f6;
    font-weight: 500;
  }
}
@media (max-width: '930px') {
  .messages-container {
    padding: 0px;
  }
}
