* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Tahoma, Geneva,
    Verdana, sans-serif;
  input,
  textarea:focus,
  input:focus {
    outline: none;
    border: none;
  }
}

.app-container {
  display: flex;
  width: 100%;
  max-width: 100%;
  max-height: 100vh;
  overflow: hidden;
}

button[disabled] {
  border: none;
  background-color: transparent;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
