.heart-sign-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 4px;
  padding:0px;
}


.heart-icon{
    width: 26px;
    height: 26px;
    // background-image: url('../../icons/love.png');
    // background-size: cover;
  
  }
  .comment{
    width: 60px;
    height: 60px;
    margin-left: 12px;
    margin-top: 12px;
    // background-image: url('../../icons/message.svg');
    // background-size: cover;
    
  }
  .flag{
    width: 20px;
    height: 20px;
    // background-image: url('../../icons/flag.png');
    // background-size: cover;    
  }