.side-bar {
  padding: 40px 20px 0px 12px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  width: 305px;
  border-right: 1px solid rgb(219, 219, 219);

  nav {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-top: 20px;
  }

  .nav-btn {
    color: #262626;
    padding: 15px 15px;
    border-radius: 25px;
    font-family: 'Segoe UI', sans-serif;
    text-decoration: none;
    display: flex;
    gap: 10px;
    align-items: center;

    .nav-icon {
      font-size: 22px;
      width: 30px;
    }

    span {
      font-size: 16px;
    }

    &.active {
      color: black;
      font-weight: 700;
    }

    &:hover {
      background-color: #fafafa;
    }
  }

  .side-bar-more {
    padding: 0 15px;
    border-radius: 25px;
    font-family: 'Segoe UI', sans-serif;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    font-weight: 200;
    //   color: #262626;
    i {
      font-size: 22px;
      width: 30px;
    }
    span {
      font-size: 16px;
    }
  }
}

.ig-title {
  @media (max-width: 1260px) {
    display: none;
  }
}

.route-label {
  @media (max-width: 1260px) {
    display: none;
  }
}

.ig-icon {
  display: none;
  @media (max-width: 1260px) {
    display: flex;
    justify-content: center;
  }
}

.side-bar {
  @media (max-width: 764px) {
    display: none;
  }
  @media (max-width: 1260px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48px;
    padding: 8px 12px 20px 12px;
  }
}

.nav-icon {
  @media (max-width: 1260px) {
    display: flex;
    justify-content: center;
  }
}
