.suggestion-container{
    width: 400px;
    height: 400px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
  
   
}
.main-avatar{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.suggestions-users{
    border: 2px solid red;
    &ul{
        list-style: none;
        border: 2px solid red;
    }


}