span{
    
    font-size: 16px;
    font-weight: 510;
}


.modal-header{
  
    display: flex; 
    justify-content: center;
  
    font-size: 16px;
    img{
        width: 100px;
        height: 100px;
    }
}
.img-create-container{
    width: 100px;
    height: 100px;
    border: 2px solid red;
    margin: auto;
}
